<fieldset class="container">
    <legend>Formulario</legend>
    <div id="productForm" class="col-6">
        <h4>Servicios</h4>
        <div id="serviceTypeSelection" class="form-check-inline form-switch">
            <label class="form-check-label">APIRest</label>
            <input id="productServiceRadioButton" class="form-check-input" type="checkbox">
            <label class="form-check-label">Graphql</label>
        </div>
        <h4>Productos</h4>
        <div id="productRolSelection" class="form-check-inline form-switch">
            <label class="form-check-label">Usuario</label>
            <input id="productRolRadioButton" class="form-check-input" type="checkbox">
            <label class="form-check-label">Administrador</label>
        </div>
        <div class="col-6">
            <label for="title" class="form-label"><strong>Producto</strong></label>
            <input type="text" class="form-control" id="titleInput" placeholder="Ingrese título producto">
        </div>
        <div class="col-12">
            <label for="title" class="form-label"><strong>Descripción</strong></label>
            <textarea type="text" class="form-control" id="descriptionInput" placeholder="Ingrese descripción del producto" rows="2" maxlength="150"></textarea>
        </div>
        <div class="col-6">
            <label for="title" class="form-label"><strong>Código</strong></label>
            <input type="text" class="form-control" id="codeInput" placeholder="Ingrese código producto">
        </div>
        <div class="col-6">
            <label for="price" class="form-label"><strong>Precio</strong></label>
            <input type="number" min="0" class="form-control" id="priceInput" placeholder="Ingrese precio producto">
        </div>
        <div class="col-3">
            <label for="title" class="form-label"><strong>Stock</strong></label>
            <input type="number" min="0" class="form-control" id="stockInput" placeholder="Stock">
        </div>
        <div class="col-12">
            <label for="thumbnail" class="form-label"><strong>Imagen [url]</strong></label>
            <textarea type="text" class="form-control" id="thumbnailInput" placeholder="Ingrese url de imagen de producto" rows="3" maxlength="200"></textarea>
        </div>
        <button id="submitButton" type="button" class="btn btn-success">Save</button>
        <div class="col-3">
            <label for="id" class="form-label"><strong>Id</strong></label>
            <input type="text" class="form-control" id="idInput" placeholder="id">
        </div>
    </div>
    <div id="cartForm" class="col-6">
        <h4>Carritos</h4>
        <p>Se implementan para facilitar la prueba de los carritos:</p>
        <div id="cartRolSelection" class="form-check-inline form-switch">
            <label class="form-check-label">Usuario</label>
            <input id="cartRolRadioButton" class="form-check-input" type="checkbox">
            <label class="form-check-label">Administrador</label>
        </div>
        <div id="cartInputs">
            <div class="col-6">
                <label for="title" class="form-label"><strong>Usuario</strong></label>
                <input type="text" class="form-control" id="cartUserInput" placeholder="Ingrese usuario">
            </div>
            <div class="col-1">
                <label for="title" class="form-label"><strong>Id_cart</strong></label>
                <input type="text" class="form-control" id="idCartInput" placeholder="Id carrito">
            </div>
            <div class="col-1">
                <label for="title" class="form-label"><strong>Id_prod</strong></label>
                <input type="text" class="form-control" id="idProdInput" placeholder="Id producto">
            </div>
        </div>
        <div id="cartButtons">
            <button id="getAllCartsButton" type="button" class="btn btn-primary" >GetAllCarts</button>
            <button id="saveCartButton" type="button" class="btn btn-success" >SaveCart</button>
            <button id="saveProdInCartButton" type="button" class="btn btn-warning" >SaveProductInCart</button>
            <button id="getCartButton" type="button" class="btn btn-secondary">GetProductsInCartById</button>
            <button id="deleteProductInCartButton" type="button" class="btn btn-danger">DeleteProductInCart</button>
            <button id="deleteCartButton" type="button" class="btn btn-danger">DeleteCartById</button>
        </div>
        <div class="container" id="cartResults">
        </div>
        <div>
            <button id="buyCartButton" type="button" class="btn btn-success" >Buy</button>
        </div>
    </div>
</fieldset>

<div class="container" id="buttons">
    <button id="getOneButton" type="button" class="btn btn-secondary">GetById</button>
    <button id="updateButton" type="button" class="btn btn-warning">UpdateById</button>
    <button id="deleteOneButton" type="button" class="btn btn-danger">DeleteById</button>
    <div>
        <button id="getAllButton" type="button" class="btn btn-primary" >GetAll</button>
        <button id="getAllRandomButton" type="button" class="btn btn-primary" >GetAllFaker</button>
    </div>
</div>