<h1>Registro de usuario</h1>
<div class="col-md-6">
    <div>
        <label for="userRegister" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="registerUserInput" placeholder="Ingrese usuario">
    </div>
    <div class="user">
        <label for="title" class="form-label">Correo</label>
        <div id="server">
            <input type="text" class="form-control" id="registerUserMailInput" placeholder="Ingrese correo">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" id="registerUserServerInput" placeholder="Dominio" aria-label="Server">
        </div>
    </div>
</div>
<div class="col-md-3">
    <label for="age" class="form-label">Edad</label>
    <input type="number" min="0" max="99" class="form-control" id="registerUserAgeInput" placeholder="Edad">
</div>
<div class="col-md-4">
    <label for="tel" class="form-label">Teléfono</label>
    <div id="tel">
        <input type="number" min="0" max="999" class="form-control" id="registerUserTelAreaInput" placeholder="Área">
        <span>-</span>
        <input type="number" min="0" max="9999999" class="form-control" id="registerUserTelInput" placeholder="Ingrese teléfono">
    </div>
</div>
<div class="col-md-6">
    <label for="avatar" class="form-label">Avatar</label>
    <input type="text" class="form-control" id="registerUserAvatarInput" placeholder="Ingrese Avatar URL">
</div>
<div class="col-md-6">
    <label for="pwdRegister" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="registerPwdInput" placeholder="Ingrese contraseña">
</div>
<div>
    <button id="registerButton" type="button" class="btn btn-primary" >Registrar</button>
</div>
<div id="registerErrors">
</div>
<hr>
<div>
    <button id="goToLoginButton" type="button" class="btn btn-warning" >ir al Login</button>
</div>
<script>
    let port='';
    if (port){
        port =`:${port}`
    }
    const server ='localhost';
    const uri = `http://${server}${port}`;
    async function register(user, mail, server, telArea, telephone, pwd){
        let registerMail = '';
        let tel = telArea + telephone;

        if (mail !== '' && server !== ''){
            registerMail = mail + '@' + server;
        }
        
        if (user !== '' && pwd !== '' ){
            registerErrors.classList.remove('errorLabel');
            registerUserInput.classList.remove('errorInput');
            registerPwdInput.classList.remove('errorInput');
            let response = await fetch(`${uri}/register`, { method: 'POST',
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    username: user,
                    mail: registerMail,
                    tel: tel,
                    edad: parseInt(registerUserAgeInput.value,10),
                    avatar: registerUserAvatarInput.value,
                    password: pwd
                })
            });
            let resp = await response.json();
            console.log(resp);
            if(response.status === 200){
                registerErrors.innerHTML = 'Usuario registrado, será redirigido..';
                setTimeout( () => {
                    location.href=`${uri}/login`;
                }
                , 2000)
            }else{
                registerErrors.classList.add('errorLabel');
                registerUserInput.classList.add('errorInput');
                registerErrors.innerHTML = resp.status;
                setTimeout( () => {
                    location.href=`${uri}/failreg`;
                }
                , 2000)
            }
        }else{
            registerErrors.classList.add('errorLabel');
            registerUserInput.classList.add('errorInput');
            registerPwdInput.classList.add('errorInput');
            registerErrors.innerHTML = 'Los campos resaltados son obligatorios';
        }
    }
    
    function goToLogin(){
        location.href = `${uri}/login`
    }


    registerButton.addEventListener('click', () => register(registerUserInput.value, registerUserMailInput.value.trim(), registerUserServerInput.value.trim(),registerUserTelAreaInput.value, registerUserTelInput.value, registerPwdInput.value));
    goToLoginButton.addEventListener('click', () => goToLogin());
</script>